---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Sto passando questo elemnto come slot, lo sto passando da index a BaseLayout  </h2>
</BaseLayout>
