---
const userNikName = "Vlad Costin";
---
<style>
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    width: 100%;
    display: flex;
    background-color: rgba(199, 195, 195, 0.66));
    border-radius: 15px;
    justify-content: space-between;
    border: 1px solid black;
}

a {
    display: flex;
    padding: 0 3.5rem;
    height: 100%;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
}

.div-logo {
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid black;
    cursor: pointer;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    cursor: pointer;
}

label {
    font-weight: 600;
    transition-duration: 0.5s;
}

a:visited{ color: inherit }

a:hover > label {
    color: beige;
    transform: translate(1s);
    transition-duration: 0.5s;
}

@media only screen and (max-width: 600px) {
    a {
        padding: 0 1.5rem;
    }

    .div-logo {
        padding: 1rem 1.5rem;
        max-width: 200px;
    }

    .logo {
        font-size: 0.8rem;
    }

    a:hover > label {
        color: black;
    }

    a:hover {
        background-color: #f1f5f9;
    }

}*/
</style>
<div class="nav-links">
    <a href="/"><label>Home</label></a>
    <a href="/about/"><label>About</label></a>
    <a href="/blog/"><label>Blog</label></a>
</div>
